.chordKeyRectangle {
	-fx-fill: linear-gradient(from 100.0% 0.0% to 100.0% 100.0%, #cce0ff 0.0%, #ccd4ff 100.0%);
	-fx-arc-width: 20px;
	-fx-arc-height: 20px;
	-fx-stroke: #006299;
	-fx-stroke-type: inside;
	-fx-stroke-width: 2px;
}

.chordKeyRectanglePressed {
	-fx-fill: linear-gradient(from 100.0% 0.0% to 100.0% 100.0%, #cce020 0.0%, #ccd420 100.0%);
}

.chordKeyRectanglePlaying {
	-fx-fill: linear-gradient(from 100.0% 0.0% to 100.0% 100.0%, #cce080 0.0%, #ccd480 100.0%);
}

.chordKeyRectanglePressed {
	-fx-fill: linear-gradient(from 100.0% 0.0% to 100.0% 100.0%, #cce020 0.0%, #ccd420 100.0%);
}

.chordKeyAbstractChord, .chordKeyActualChord, .chordKeyKeyboard {
	-fx-font-size: 16px;
	-fx-effect: dropshadow(three-pass-box, #9f9f9f, 2, 0, 1, 1);	
}

.chordKeyAbstractChord {
	-fx-text-fill: #A04000;
}

.chordKeyActualChord {
	-fx-text-fill: #404040;
}

.chordKeyKeyboard {
	-fx-text-fill: #2060B0;
}

.chordKeyRectangleNone {
	-fx-fill: white;
	-fx-stroke: white;
}


.toneKeyRectangle, .toneKeyRectangle {
	-fx-arc-width: 10px;
	-fx-arc-height: 10px;
	-fx-stroke: #808080;
	-fx-stroke-type: inside;
	-fx-stroke-width: 1px;
}

.toneKeyWhite .toneKeyRectangle {
	-fx-fill: white;	
}

.toneKeyBlack .toneKeyRectangle {
	-fx-fill: #292929;	
}

.toneKeyActualTone, .toneKeyKeyboard {
	-fx-font-size: 16px;
}
.toneKeyWhite .toneKeyActualTone, .toneKeyWhite .toneKeyKeyboard {
	-fx-text-fill: #292929; 
	-fx-effect: dropshadow(three-pass-box, #9f9f9f, 2, 0, 1, 1);		
}

.toneKeyBlack .toneKeyActualTone, .toneKeyBlack .toneKeyKeyboard {
	-fx-text-fill: #ffffff; 
	-fx-effect: dropshadow(three-pass-box, #d0d0d0, 2, 0, 1, 1);		
}


.toneKeyWhite .toneKeyRectanglePressed {
	-fx-fill: #e0e0e0;
}

.toneKeyBlack .toneKeyRectanglePressed {
	-fx-fill: #505050;
}

.toneKeyWhite .toneKeyRectangleNone, .toneKeyBlack .toneKeyRectangleNone {
	-fx-fill: white;
	-fx-stroke: white;
}


/*

.keyBigText {
	-fx-font-size: 30px;
	-fx-text-fill: #404040;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(three-pass-box, #9f9f9f, 8, 0, 3, 3);	
}

.bigText {
	-fx-font-size: 52px;
	-fx-text-fill: #404040;
	-fx-effect: dropshadow(three-pass-box, #9f9f9f, 10, 0, 3, 3);
}
*/